node_modules
dist
.DS_Store
.env
.remember
build

# Ignore the output video from Git but not videos you import into src/.
out

*.mp4
artifact_demo/
artifact_full/

# kaynak video klipleri dahil et
!public/*.mp4
